body{
    margin-left: 10%;
    margin-right: 10%;
}
header{
    background-color: #B2DEE6;
    color: #0097B2;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
    margin: 0%;
}
#logo img{
    max-width: 20%;
    border-radius: 100%;
}
#linhas hr{
    color: #0097B2;
   border-color: #0097B2;
   border: 100%;
}
.form-control{
    color: white;
    border-radius: 100%;
    border: 0;
}
#login button{
    border: 0;
    color: #0097B2;
}
#escrever button{
    border: 0;
    color: #0097B2;
}
main{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3em;
    font-size: 24px;
}
#coluna1{
    padding-bottom: 5px;
}

footer{
    background-color: #B2DEE6;
    color: #0097B2;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
    margin: 0%;
}